[submodule "modules/ngx_aws_auth"]
	path = modules/ngx_aws_auth
	url = https://github.com/anomalizer/ngx_aws_auth.git
[submodule "modules/nginx-backtrace"]
	path = modules/nginx-backtrace
	url = https://github.com/alibaba/nginx-backtrace.git
[submodule "modules/ngx_brotli"]
	path = modules/ngx_brotli
	url = https://github.com/google/ngx_brotli.git
[submodule "modules/ngx-fancyindex"]
	path = modules/ngx-fancyindex
	url = https://github.com/aperezdc/ngx-fancyindex.git
[submodule "modules/traffic-accounting-nginx-module"]
	path = modules/traffic-accounting-nginx-module
	url = https://github.com/Lax/traffic-accounting-nginx-module.git
[submodule "modules/iconv-nginx-module"]
	path = modules/iconv-nginx-module
	url = https://github.com/calio/iconv-nginx-module.git
